<div class="outer-container gallery-cont">
	<div class="container">
		<h1>Stream of Consciousness</h1>
	</div>
	<div class="container">
		<!-- if galleries -->
		{{#if feeds}}
			
			<!--<h2>{{name}}
				<div class="pull-right text-muted">19th May 2014</div>
			</h2>-->
			<div class="row gallery-images">
					<!--{{#if heroImage}}
					<div class="col-sm-4 col-md-4 gallery-image">
						<img src="{{cloudinaryUrl heroImage width='680' height='680'}}" class="">
					</div>
					{{/if}}-->
					<div class="masonry">
					{{#each feeds}}
							<div class="gallery-image fade-in-on-load">
							{{#each images}}	
								<img src="{{cloudinaryUrl crop='fit'}}" class="">
							{{/each}}	
							</div>
					{{/each}}
					</div>
			</div>
			
		{{else}}
		<!-- else -->
		<h3 class="text-muted">There are no image galleries yet.</h3>
		{{/if}}
	</div>
</div>