{{!< default}}
<div id="landingPage">
	<div class="outer-container home-cont" id="canvasContainer">
		<div class="title-cont col-xs-12">
			<div class="sc-logo-cont" id="svg-wrapper">
				<svg version="1.1" id="sc-logo" x="0px" y="0px" viewBox="0 0 400 300">
				<g>
					<path d="M325.4,37l22.5-16.3c-0.2,0-0.4-0.1-0.7-0.2c-5.2-1.7-10.8-1.8-16.5-1.8H91.5c-28.5,0-50.7,22-50.7,50.5v91.9
						c0,25.8,18.5,46.6,43.1,50.5L61.5,228c2.1,0.3,4.2,0.6,6.4,0.6h239.2c28.5,0,52.1-22.4,52.1-51V85.8C359.2,63.7,345,44.3,325.4,37z
						 M312,177.7c0,2.7-2.3,3.8-4.9,3.8H126.3l22.5-16.5h-1.1H91.5c-2.7,0-5.9-1.1-5.9-3.8V69.3c0-2.7,3.2-5.7,5.9-5.7h195.9h0.5
						l-23,16.5h42.2c2.7,0,4.9,3.1,4.9,5.7V177.7z"/>
					<g>
						<path d="M44.5,275.5v-4h7.9v2.7c0,0.6,0.2,0.8,0.8,0.8h5.4c0.6,0,0.8-0.2,0.8-0.8v-2.6c0-0.5-0.2-0.6-0.9-0.8l-7.8-2.1
							c-4.1-1.1-6-1.8-6-6v-5.1c0-3.9,1.8-5.7,5.7-5.7H61c3.9,0,5.7,1.8,5.7,5.7v3.7h-7.9V259c0-0.6-0.2-0.8-0.8-0.8h-4.8
							c-0.6,0-0.8,0.2-0.8,0.8v2.3c0,0.5,0.1,0.6,0.9,0.8l7.8,2.1c4.1,1.1,6,1.8,6,6v5.4c0,3.9-1.8,5.7-5.7,5.7H50.2
							C46.4,281.2,44.5,279.4,44.5,275.5z"/>
						<path d="M84,251.9h7.9v29.3H84V251.9z"/>
						<path d="M109.5,251.9H127c3.9,0,5.7,1.8,5.7,5.7v17.9c0,3.9-1.8,5.7-5.7,5.7h-17.4V251.9z M124,274.7c0.6,0,0.8-0.2,0.8-0.8v-14.7
							c0-0.6-0.2-0.8-0.8-0.8h-6.6v16.2H124z"/>
						<path d="M150,251.9h20.6v6.5h-12.7v4.6h10.1v6.4h-10.1v5.2h12.7v6.5H150V251.9z"/>
						<path d="M186.6,275.5v-17.9c0-3.9,1.9-5.7,5.8-5.7h11.2c3.9,0,5.6,1.8,5.6,5.7v5.5h-7.9v-3.9c0-0.6-0.2-0.8-0.8-0.8h-5.3
							c-0.6,0-0.8,0.2-0.8,0.8V274c0,0.6,0.2,0.8,0.8,0.8h5.3c0.6,0,0.8-0.2,0.8-0.8v-3.9h7.9v5.5c0,3.9-1.8,5.7-5.7,5.7h-11.2
							C188.4,281.2,186.6,279.4,186.6,275.5z"/>
						<path d="M225.7,251.9h7.9v11h8.4v-11h7.9v29.3H242v-11.6h-8.4v11.6h-7.9V251.9z"/>
						<path d="M283.3,275.2h-8.6l-1.5,6h-8l8.8-29.3h10.4l8.9,29.3h-8.4L283.3,275.2z M281.7,268.9l-2.7-10.6l-2.7,10.6H281.7z"/>
						<path d="M308.4,251.9h7.9v29.3h-7.9V251.9z"/>
						<path d="M334,251.9h7.8l9.6,15.6v-15.6h7.6v29.3h-7l-10.4-16.8v16.8H334V251.9z"/>
					</g>
				</g>
				</svg>
			</div>
			<div class="copy-row">
				<p class="about">We are a digital design studio looking to partner with people to create more interestng experiences, large or small. </p>
			</div>
		</div>

		<div class="btn-wrap">
			<a href="/portfolio"><button class="enter-site-btn" type="button" id="enter-btn" data-title="Button">enter</button></a>
		</div>


		<div class="particle-container">
		</div>
	</div>
</div>