{{!< default}}
<div class="outer-container home-cont">
	<div class="container slider-cont">
		<div class="content">


			<div class="cache">
				<!-- masks -->
				<img src="/images/masks/sidechain-logo-1.svg">
				<img src="/images/masks/sidechain-logo-2.svg">
				<!-- photos -->
				<img src="/images/mars-1.jpg">
				<img src="/images/mars-2.jpg">
				<img src="/images/mars-3.jpg">
				<img src="/images/mars-4.jpg">
			</div>

			<div class="wrapper col-xs-12">
				<div class="prism-slider prism-slider--left">
					<h3 class="slider-header">Featured Work</h3>
					<ul class="navigation"></ul>
				</div>
			</div>


		</div>
	</div>
	<div class="particle-container">
		<p class="f"><a target="_blank" href="http://www.jeremieboulay.fr">@Jeremboo</a><br /> ┗|｀O´|┛</p>
	</div>





	<!--<div class="container">
		<div class="jumbotron home-jumbo"><img src="/images/sidechain-logo-anim.svg" width="300">
			<h1>SIDECHAIN PORTFOLIO</h1>
			<hr>
			<p>Default Admin user with email <strong>ollie@sidechain.studio</strong> and the password <strong>sidechain</strong>.</p>
			<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>
			<hr>
			<p>
				Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
				<a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
			</p>
		</div>
	</div>-->
</div>
