{{!< default}}
<div id="landingPage">
	<div class="container-wrap">
		<div class="outer-container home-cont">
			<div class="row">
				<nav>

					<ul class="index-nav">
						<li class="menuItem"><a href="/journal">journal</a></li>
						<li class="menuItem"><a href="/work">work</a></li>
						<li class="menuItem"><button type="button" id="menuButton" class="navbar-toggle collapsed" data-target="#contactForm" data-toggle="collapse" aria-expanded="false">contact</button></li>
						<li class="menuItem"><a href="/experiments">experiments</a></li>
						<li class="menuItem"><a href="/about">about</a></li>
					</ul>

					<div class="collapse navbar-collapse" id="contactForm">
						
							<div class="col-sm-12 contact-form">
								{{#if enquirySubmitted}}
								<h3>Thanks for getting in touch.</h3>
								<a href="/portfolio"><button class="enter-site-btn" type="submit" id="" data-title="Button">back to business</button></a>
								{{else}}
								<div class="row contact-row">
									<div class="col-xs-6">
										<h1>Say Hello</h1>
									</div>
									<div class="col-xs-6">
									<p>Collaboration begins with a conversation. Whether you’re interested in discussing a new project or simply wish to find out more about our services and what we can do for you, we are here to help. Send us a message below or call us at 0410 932 327. </p>
									<form method="post">
										<input type="hidden" name="action" value="contact">
										<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
											<label>Name</label>
											<input type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
										</div>
										<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
											<label>Email</label>
											<input type="email" name="email" class="form-control" value="{{formData.email}}">
										</div>
										<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
											<label>Message</label>
											<textarea name="message" placeholder="" rows="3" class="form-control">{{formData.message}}</textarea>
										</div>
										<div class="form-actions">
											<!--<button type="submit" class="btn btn-primary">Send</button>-->
											<button class="enter-site-btn" type="submit" id="" data-title="Button">send</button>
										</div>
									</form>
									</div>
								</div>
								{{/if}}
							</div>
						
			    </div><!-- /.navbar-collapse -->
				</nav>

			</div>
			<div class="fullscreen-header" id="page-header-wrap">
				<div class="fullscreen-header" id="page-header-bg">
					<div class="bg-color-overlay">
					</div>	
					<div class="particle-container" id="canvasContainer">
					</div>
				</div>		
			</div>
			<div class="container-inner-wrap">
				<div class="container main-content">
					<div class="row" id="heightRow">
						<div id="welcome">
							<div class="row-bg">
								
							</div>
							<div class="title-cont col-xs-12">
								<div class="element-wrapper">
									<p><a href="/welcome" class="index-arrow">&larr;</a></p>
								</div>
								<div class="copy-row">
									<p class="about">Sidechain is a design, content, and brand strategy studio based in Oceania. We work with forward-thinking startups, artists, and international brands to create impactful design solutions. </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>