{{!< default}}
<div id="landingPage">
	<div class="container-wrap">
		<div class="outer-container home-cont" id="canvasContainer">
			<div class="row">
				<nav>
					<ul class="index-nav">
						<li><a href="">journal</a></li>
						<li><a href="">work</a></li>
						<li><a href="">contact</a></li>
						<li><a href="">experiments</a></li>
						<li><a href="">about</a></li>
					</ul>
				</nav>
			</div>
			<div class="index-wrapper">
				<div class="index-content">
					<div class="element-wrapper">
						<p><a href="/welcome">&larr;</a></p>
					</div>
					<div class="title-cont col-xs-12">
						<div class="copy-row">
							<p class="about">Sidechain is a design, content, and brand strategy studio based in Oceania. We work with forward-thinking startups, artists, and international brands to create impactful design solutions. </p>
						</div>
					</div>
					<!--<div class="particle-container">-->
				</div>
			</div>
		</div>
	</div>
</div>