{{!< default}}
<div id="landingPage">
	<div class="container-wrap">
		<div class="outer-container home-cont">
			<div class="row">
				<nav>
					<ul class="index-nav">
						<li><a href="/feed">journal</a></li>
						<li><a href="/portfolio">work</a></li>
						<li><a href="/contact">contact</a></li>
						<li><a href="/video">experiments</a></li>
						<li><a href="/about">about</a></li>
					</ul>
				</nav>
			</div>
			<div class="fullscreen-header" id="page-header-wrap">
				<div class="fullscreen-header" id="page-header-bg">
					<div class="bg-color-overlay">
					</div>	
					<div class="particle-container" id="canvasContainer">
					</div>
				</div>		
			</div>
			<div class="container-inner-wrap">
				<div class="container main-content">
					<div class="row" id="heightRow">
						<div id="welcome">
							<div class="row-bg">
								
							</div>
							<div class="title-cont col-xs-12">
								<div class="element-wrapper">
									<p><a href="/welcome" class="index-arrow">&larr;</a></p>
								</div>
								<div class="copy-row">
									<p class="about">Sidechain is a design, content, and brand strategy studio based in Oceania. We work with forward-thinking startups, artists, and international brands to create impactful design solutions. </p>
								</div>
							</div>
							<!--<div class="particle-container">-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>