{{!< default}}
<div id="landingPage">
	<div class="outer-container home-cont" id="canvasContainer">
		<div class="sc-logo-cont" id="svg-wrapper">
			<svg version="1.1" id="black-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 width="400px" height="300px" viewBox="0 0 484 326.538" enable-background="new 0 0 484 326.538" xml:space="preserve">
			<title>Asset 13</title>
			<path d="M358.7,78.2L358.7,78.2L388,57c-4.9-1.3-9.9-1.9-15-1.8H141.7c-29.3,0-53.7,23.6-53.7,53v88.9c0,23.6,15.7,43.4,37,50.4
				l-29.2,21.3l0.8,0.2c4.9,1.5,10,2.2,15.1,2.2H343c29.3,0,53-23.7,53-53c0,0,0-0.1,0-0.1v-88.9C396,105.9,380.9,85.3,358.7,78.2z
				 M344,218.1c0,0.8-0.2,1.1-1,1.1H164.9l28.8-21h-52c-0.8,0-1.7-0.4-1.7-1.1v-88.9c0-0.8,0.9-2,1.7-2h177.2l-28.9,21H343
				c0.8,0,1,1.2,1,2V218.1z"/>
			</svg>
		</div>

		<div class="title-cont">
			<svg class="sc-logo-title" viewBox="0 0 427.3 30"><use xlink:href="/images/sidechain-logo-title.svg#sc-logo-title"></use></svg>
			<div class="copy-row">
				<p class="enter-subhead1">We are a small design studio with some big ideas. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<p class="enter-subhead2">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>
			</div>

			<ul class="client-list">
				<li><svg class="client-logo" viewBox="0 0 500 300"><use xlink:href="/images/client-logos.svg#g2"></use></svg></li>
				<li><svg class="client-logo" viewBox="0 0 500 300"><use xlink:href="/images/client-logos.svg#fuzen"></use></svg></li>
				<li><svg class="client-logo" viewBox="0 0 500 300"><use xlink:href="/images/client-logos.svg#3ba"></use></svg></li>
				<li><svg class="client-logo" viewBox="0 0 500 300"><use xlink:href="/images/client-logos.svg#hands"></use></svg></li>
				<li><svg class="client-logo" viewBox="0 0 500 300"><use xlink:href="/images/client-logos.svg#nb"></use></svg></li>
			</ul>
		</div>

		<div class="btn-wrap">
			<button class="enter-site-btn" type="button" id="enter-btn" data-title="Button">enter</button>
			<a href="/portfolio"><button class="work-btn" type="button" id="enter-btn">see more</button></a>
		</div>

		<div class="inner-container">
			<i class="menu-bg left"></i>
			<i class="menu-bg right"></i>
		</div>

		<div class="particle-container">
		</div>
	</div>
</div>