{{!< default}}
<div class="outer-container home-cont">
	<div class="container">
		<div class="jumbotron home-jumbo"><img src="/images/logo.svg" width="160">
			<h1>SIDECHAIN PORTFOLIO</h1>
			<hr>
			<p>Default Admin user with email <strong>ollie@sidechain.studio</strong> and the password <strong>sidechain</strong>.</p>
			<!--<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>-->
			<hr>
			<!--<p>
				Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
				<a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
			</p>-->
		</div>
	</div>
</div>
