<div class="outer-container video-cont">
	<div class="container page-nav-cont">
		<h5 class="page-title">VIDEO</h5>
	</div>
	<div class="container">
		<div class="row video-container">
			<div class="col-xs-12 video">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe src="https://www.ustream.tv/embed/22759241?html5ui&showtitle=false" style="border: 0 none transparent;"  webkitallowfullscreen allowfullscreen frameborder="no" width="960" height="540"></iframe>
				</div>
			</div>
		</div>
		<div class="row comments-section">
			<div class="col-xs-12 comments">
				<div class="comments-wrap">
					<iframe src="https://www.ustream.tv/socialstream/22759241" style="border: 0 none transparent;"  webkitallowfullscreen allowfullscreen frameborder="no" width="960" height="300"></iframe>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>