// MIXINS

// Center Mixin
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin middler {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

// Transition Mixin
@mixin transition-main{
    transition: ease all .3s;
    -webkit-transition: ease all .3s;
    -o-transition: ease all .3s;
    -moz-transition: ease all .3s;
}

@mixin transition-full{
    transition: ease all 1s;
    -webkit-transition: ease all 1s;
    -o-transition: ease all 1s;
    -moz-transition: ease all 1s;
}

// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

// VARIABLES

$font-head:"futura-pt",sans-serif;
$font-subhead:"futura-pt",sans-serif;
$font-body:"futura-pt",sans-serif;
$primary-color:;
$secondary-color:;
$white: #fff;
$black: #000;



// ABOUT STYLES
.about-cont {
  .copy-row {
    padding-top: 6%;
    padding-bottom: 4%;
    .top-quote{
      color:$black;
      font-size: 32px!important;
      line-height: 40px!important;
      max-width: 780px;
      font-weight: 600;
      margin: 0 auto;
      padding: 0 0 1em 0;
      text-align: center;
    }
  }
}
.about-cont {
  .section {
    padding:4em 0 0 0;
    .copy-wrap .title {
      font-size:1.6em;
      margin:0;
      font-weight: 600;
      padding-bottom: 0.8em;
    }
  }
}


// About Page Small Images

.about-cont .image-wrap {
  width:100%;
  height:auto;
  padding-bottom: 1em;
  .about-image {
    width:100%;
    height:auto;
    min-height:600px;
    overflow:hidden;
    background-position:center;
    background-size:cover;
  }
}

.about-cont .image-wrap .about-image {
  &#city-1 {
    background-image:url('/images/melbourne.jpg'); 
  }
  &#city-2 {
    background-image:url('/images/auckland.jpg'); 
  }
  &#work-1 {
    background-image:url('/images/work-1.jpg'); 
  }
  &#work-2 {
    background-image:url('/images/work-2.jpg'); 
  }
}
@media (max-width:1170px){
  .about-cont .image-wrap {
    .about-image {
      min-height:500px;
    }
  }
}
@media (max-width:960px){
  .about-cont .image-wrap {
    .about-image {
      min-height:400px;
    }
  }
}
@media (max-width:768px){
  .about-cont .image-wrap {
    .about-image {
      min-height:300px;
    }
  }
}


// SECTION STYLES

.about-cont .section {
  &.services-list {
    padding-bottom:4em;
    .copy-wrap {
      padding-bottom:1em;
    }
    .sub-title {
      font-size:1em;
      margin:0;
      padding-bottom: 0.8em;
    }
  }
  .full-width-section {
    margin-left: calc((100% - 100vw)/ 2);
    margin-right: calc((100% - 100vw)/ 2);
    width: auto;
    .full-width-content {
      width: 100vw;
      height: auto;
      background-position: center;
      background-size:cover;
      -o-background-size:cover;
      -moz-background-size:cover;
      -webkit-background-size:cover; 
      &.full-1 {
        background-image:url('/images/placeholder.jpg'); 
        height:900px;
      }
    }
  }
}

#question-form {
  margin-top:4em;
  .full-width-section {
    background:#eee;
  }
  .contact-form {
    max-width:800px;
    padding:4em 2em 7em 2em;
    .enter-site-btn {
      float:right;
    }
    .form-group .form-control {
      border-bottom: 1px solid #37383c;
    }
    .form-control {
      background-color:transparent;
      &:focus {
        border-color: #2EE59D;
      }
    }
    label {
      color:#000;
    }
    h1, h4 {
      text-align:center; 
      margin-top:0;
    }
    h4 {
      padding-bottom:2em;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media (max-width:768px){
  #question-form .contact-form {
    max-width:600px;
  }
}



