// GALLERY SCSS FILE

@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Playfair+Display:400,400i,700,700i&subset=cyrillic,latin-ext');

// MIXINS

// Center Mixin
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

// column-gap mixin
@mixin column-gap($column-gap) {
  -webkit-column-gap: $column-gap;
     -moz-column-gap: $column-gap;
      -ms-column-gap: $column-gap;
          column-gap: $column-gap;
}

// column-count mixin
@mixin column-count($column-count) {
  -webkit-column-count: $column-count;
     -moz-column-count: $column-count;
      -ms-column-count: $column-count;
          column-count: $column-count;
}

// VARIABLES

$font-head:"futura-pt",sans-serif;
$font-subhead:"futura-pt",sans-serif;
$font-body:"futura-pt",sans-serif;
$primary-color:;
$secondary-color:;
$white: #fff;
$black: #000;


// IMAGE FADE IN

.fade-in-on-load {animation-duration: 2.3s; animation-name: fadeInOnLoad; animation-timing-function: ease;}
@keyframes fadeInOnLoad {
0%,50% {opacity: 0;padding-top:20px;}
100% {opacity: 1;padding-top:0px;}
}



// MASONRY IMAGE GRID

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  .masonry {
    @include column-count(1);
    .item {
      background-color: #fff;
      display: inline-block;
      margin: 0 0 1rem;
      width: 100%;
      img{
        max-width:100%;
      }
    }
  } 
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .masonry {
    @include column-count(2);
    @include column-gap(1rem);
    .item {
      background-color: #fff;
      display: inline-block;
      margin: 0 0 1rem;
      width: 100%;
      img{
        max-width:100%;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .masonry {
    @include column-count(3);
    @include column-gap(1rem);
    .item {
      background-color: #fff;
      display: inline-block;
      margin: 0 0 1rem;
      width: 100%;
      img{
        max-width:100%;
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .masonry {
    @include column-count(4);
    @include column-gap(1rem);
    .item {
      background-color: #fff;
      display: inline-block;
      margin: 0 0 1rem;
      width: 100%;
      img{
        max-width:100%;
      }
    }
  }
}


/* Effect 2: Move Up */
.masonry .item.animate {
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-animation: moveUp 0.65s ease forwards;
  animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
  0% { }
  100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
  0% { }
  100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}



