@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Playfair+Display:400,400i,700,700i&subset=cyrillic,latin-ext');

// MIXINS

// Center Mixin
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin middler {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

// Transition Mixin
@mixin transition-main{
    transition: ease all .3s;
    -webkit-transition: ease all .3s;
    -o-transition: ease all .3s;
    -moz-transition: ease all .3s;
}

@mixin transition-sec{
    transition: ease all .6s;
    -webkit-transition: ease all .6s;
    -o-transition: ease all .6s;
    -moz-transition: ease all .6s;
}

// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

// VARIABLES

$font-head:aktiv-grotesk-thin, sans-serif;
$font-subhead:industry, sans-serif;
$font-body:aktiv-grotesk, sans-serif;
$primary-color:;
$secondary-color:;
$white: #fff;
$black: #000;


// FOOTER STYLES

.footer {
	background-color: #37383c;
  bottom: 0;
  margin-top: 80px;
}
#footer {
	border:none !important;
	margin-top:0 !important;
  padding-bottom:100px;
  padding-top:80px !important;
  .sc-logo-title{
    max-width:200px;
    fill:#4b4c50;
    padding-bottom: 3em;
  }
  .contact-list, .social-list{
    font-size:10px;
    font-family:$font-body;
    list-style:none;
    padding-left:0;
    color:#4b4c50;
    a{
      @include transition-main;
      color:#4b4c50;
      &:hover{
        @include transition-main;
        color:#fff;
      }
    }
    li{
      padding-bottom:8px;
    }
  }
}
#footer ul {
  h5{
    display:inline-block;
    margin:0;
    font-size: 12px;
  }
  li i {
    width: 20px;
  }
}

