// MIXINS

// Center Mixin
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin middler {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

// Transition Mixin
@mixin transition-main{
    transition: ease all .3s;
    -webkit-transition: ease all .3s;
    -o-transition: ease all .3s;
    -moz-transition: ease all .3s;
}

@mixin transition-sec{
    transition: ease all .6s;
    -webkit-transition: ease all .6s;
    -o-transition: ease all .6s;
    -moz-transition: ease all .6s;
}

// ClearFix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

// VARIABLES

$font-head:"futura-pt",sans-serif;
$font-subhead:"futura-pt",sans-serif;
$font-body:"futura-pt",sans-serif;
$primary-color:;
$secondary-color:;
$white: #fff;
$black: #000;


