// Nav Bar

.navbar-toggle {
  display: block !important;
}
.navbar-header{
	width:100% !important;
}
.collapsing {
  position: absolute;
  width:100vw;
  height: 100vh;
  overflow: hidden;
  transition:ease all .3s;
}