// Nav Bar

@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Playfair+Display:400,400i,700,700i&subset=cyrillic,latin-ext');

// MIXINS

// Center Mixin
@mixin centererX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

// VARIABLES

$font-head:'Playfair Display', serif;
$font-subhead:'Archivo Black', sans-serif;
$font-body:'Playfair Display', serif;
$primary-color:;
$secondary-color:;
$white: #fff;
$black: #000;



.navbar-default .navbar-toggle {
    border-color: #ddd;
    display: block !important;
    position: absolute;
    right: 0;
    top: 0;
}

.navbar-nav{
    margin:0;
}

.navbar-header{
	width:100% !important;
}
.sc-nav-menu.bg-init{
	background-color: rgba(255, 255, 255, 0.9);
    transition:ease all .5s;
    -webkit-transition:ease all .5s;
    -moz-transition:ease all .5s;	
}
.menu-hide{
	visibility:hidden;
	opacity:0;
	transition:ease all .5s;
    -webkit-transition:ease all .5s;
    -moz-transition:ease all .5s;
}
.menu-hide.vsbl{
	visibility:visible;
	opacity:1;
    transition:ease all .5s;
    -webkit-transition:ease all .5s;
    -moz-transition:ease all .5s;	
}


.btn-wrap {
    @include centererX;
    bottom:10%;
    z-index: 1010;
}

.menu-close {
    width: 120px;
    height: 40px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.enter-site-btn, .work-btn{
    @extend .menu-close;
}

.work-btn{
    visibility:hidden;
    opacity: 0;
}

.enter-site-btn{
    display:block;
}
.enter-site-btn.switch{
    display:none;
}

.menu-close:hover, .enter-site-btn:hover, .work-btn:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}


// BACK BUTTON 

.back-btn {
    display: block !important;
    position: absolute;
    left: 0;
    top: 15px;
    z-index: 1000000000;
}



// User SignIn/SignOut

.sign-in, .sign-out {
    position: absolute !important;
    bottom: 0;
    right: 0;
}




// Page Navigation Titles - Fixed Top

/* .container.page-nav-cont.scrolled {
    position: fixed;
    top: 15px;
    z-index: 1000000;
    transition:ease all .4s;
    -webkit-transition:ease all .4s;
    -moz-transition:ease all .4s;
    background-color: transparent;
} */



// Page Title for Header Animation

.row.title-row {
    padding: 0 15px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    h5{
        opacity:0;
        font-family: "Archivo Black", sans-serif;
        font-weight: 500;
        padding-top: 7px;
        transition:ease all .2s;
        -webkit-transition:ease all .2s;
        -moz-transition:ease all .2s;
    }
}
.row.title-row.scrolled{
        h5{
        opacity:1;
        transition:ease all .5s;
        -webkit-transition:ease all .5s;
        -moz-transition:ease all .5s;
    }
}
.copy-row {
    padding-top: 6em;
}


