// Override Bootstrap variables in this file, e.g.

$font-size-base: 12px;

body {
    background-color: #fff !important;
    font-family: 'Open Sans', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#header {
	margin-top:0 !important;
	width:100vw;
	position:fixed;
	z-index: 1000000;
}
.nav-container{
	margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}
.nav-header {
	padding:0 !important;
}
.navbar-default {
	background-color:rgba(255, 255, 255, 0);
	border:none;
	z-index:1000;
}
.navbar {
	border-radius: 0 !important;
}
.navbar-toggle{
	margin-right:10px;
	border:none;
	z-index: 1000000000;
}
.sc-nav-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
    transition:ease all 1s;
    -webkit-transition:ease all 1s;
    -moz-transition:ease all 1s;
}
.sc-nav-menu{
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 100vw;
    height:100vh;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    transition:ease all 1s;
    -webkit-transition:ease all 1s;
    -moz-transition:ease all 1s;
}
.navbar-nav > li{
    float:none !important;
    text-align: center;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent !important;
}
.navbar-default .navbar-nav > .active > a {
	background-color: transparent;
}
.navbar-brand h3{
	margin:0;
	text-transform: uppercase;
	line-height:1;
	font-size: 16px;
    letter-spacing: .1rem;
    font-weight: bold;
}


.home-jumbo {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	text-align: center;
	background-color:transparent;
	margin-bottom:0;
}


/* Contact Page */
.contact-form{
	float: none;
    margin-left: auto;
    margin-right: auto;
}
.contect-header{
	text-align: center;
}





/* Footer */
.footer {
	background-color: transparent;
	position: fixed;
    bottom: 0;
}
#footer {
	border:none !important;
	margin-top:0 !important;
	padding-top:15px !important;
}

/* Pagination */
.pagination{
	margin: 20px 0 60px 0;
}


/* Containers */
.outer-container {
	width: 100vw;
	&.blur{
		filter: blur(10px);
	}
}
.home-cont {
	height:100%;
}
.header-cont, .contact-cont, .gallery-cont {
	padding-top:150px;
}

// Slider
.slider-cont {
	padding: 0;
	.wrapper{
	}
}




/* Projects */
.project-img {
	width:100%;
	height:auto;
}
.project-thumbs{
	padding:0 !important;
}
.project-thumb {
	padding-bottom:0px;
	h2{
		font-size:16px;
		margin: 1rem 0 .8rem 0;
	}
	.lead{
		font-size:12px;
		margin-bottom:2.5rem;
	}
}

// Blog Page 

/* Dropdown Filter */
.cat-menu{
	.trigger {
	    position: absolute;
    	top: -40px;
    	right: 0;
    	border-radius:0;
	}	
	.dropdown-menu{
		position: absolute;
	    top: -42px;
	    right: 125px;
	    left: auto;
	    margin: 0;
	    text-align: center;
	    background-color:transparent;
	    border:none;
	    box-shadow:none;
		.cat-menu-li{
			display:inline-block;
		}
	}
	.dropdown-menu li a {
		padding:3px 10px;
	}
}




/*back btn */
.back-btn {
	padding-bottom:30px;
}





/* Form */
.form-control {
	border-radius:0 !important;
}




/* Post */
.post-cont {
	.proj-cont {
	    padding-top: 120px;
	}
	.row{
		margin:0;
	}
}
.post {
	.p-header{
		margin-top:40px;
		.p-desc{
			font-style: italic;
			padding-bottom:30px;
		}
	}
	.post-words{
		padding: 0 0 40px 0;
		.post-categories{
			font-size:12px;
			font-style: italic;
		}
		.p-sub-head{
			font-weight: 700;
			margin-top:0;
		}
	}
	.img-container{
		img{
			margin-bottom:1rem;
			width:100%;
		}
	}
}
.head-img {
	top:0;
	margin:0 !important;
}
.p-title {
	text-transform:uppercase;
	font-weight: 700;
}

