// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;

body {
    background-color: #F7F7F7 !important;
    font-family: 'Open Sans', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#header {
	margin-top:0 !important;
}