/* PRISM SLIDER */


.cache {
	display: none;
}

.prism-slider {
	width: 100%;
	max-width: 100%;
	height: 0;
	padding-top: 41.66666%;
	position: relative;
	margin-bottom:2em;
	margin-left: auto;
	margin-right: auto;
}

.prism-slider canvas {
	width: 100%;
	position: absolute;
	left: 0;
	top:0;
}

.navigation {
	width: 100%;
	padding-left: 0;
	position: absolute;
	padding-top:0;
	text-align: center;
	list-style: none;
	z-index: 1;
	margin-top: -30px;
}

.navigation li {
	width: 20px !important;
	height: 8px !important;
	margin: 0 5px;
	background: #52525a;
	display: inline-block;
	cursor: pointer;
}

.navigation .active {
	background: #eceff1;
}

.slider-header {
	font-family:industry, sans-serif;
	font-weight: 800;
	position: absolute;
	top:20px;
	z-index: 10000000;
	padding-left: 20px;
    margin: 0;
    color:#fff;
    font-size: 10px;
    letter-spacing: .3rem;
    text-transform: uppercase;
}




/* LOGO */

.logo {
	position: absolute;
	z-index: 20;
	left: 30px;
	top: 25px;
	color: #fff;
	letter-spacing: .2em;
}
.logo img {
	width: 60px;
}



